$ cat .gitignore

#############
## Dota
#############
*.bin
*.vpk
*.vtex_c
*.vxml_c
*.vjs_c
*.vcss_c
game/dota_addons/trasharena/panorama/
game/dota_addons/trasharena/maps/
game/dota_addons/trasharena/particles/
game/dota_addons/trasharena/materials/
game/dota_addons/aa/
game/dota_addons/testing/
game/dota_addons/overthrow/


_CommonRedist/
dota/
EmptySteamDepot/
platform/
content/_toolsautosave/
content/core/
content/dota/
game/_toolsettings/
game/bin/
game/core/
game/dota/
game/dota_koreana/
game/dota_lv/
game/dota_russian/
game/dota_schinese/
game/thirdpartylegalnotices.txt
