.BaseHud
{
    width: 100%;
    height: 100%;
    flow-children: down;
}

.Clip
{
    clip: rect(44px, 350px, 790px,0px);
    horizontal-align:left;
    width: 350px;
    height: 890px;
}
/* 734 */
.TimerBox
{
    width: 288px;
    height: 80px;
    background-image: url("file://{resources}/images/custom_game/custom_timer_bg.png");
    background-size: 100%;
    horizontal-align: left;
    margin-top: 790px;
    margin-right: 0px;
    margin-left: -4px;
    z-index: -10;
    transition-property: transform;
    transition-duration: 0.25s;
    transition-timing-function: linear;
}

.TimerBox Label
{
    color: #FFFFFF;
    font-size: 21px;
    font-weight: bold;

}

#TimerMsg
{
    margin-top: 19px;
    margin-left: 20px;
    text-align: center;
    width: 130px;
}

#TimerRemaining
{
    margin-top: 19px;
    margin-left: 144px;
    text-align: center;
    width: 100px;
}

.FadeIn
{
    transform: translateY(-53px);
}
